// Choose config parameters from the environment or defaults.
params {
    analysis_path = System.getenv('ANALYSIS_PATH') ?: "analysis"
    interactive = '--interactive' // or '--no-interactive'
}

// Run processes locally (not on AWS, SLURM, etc.)
process {
    executor = 'local'
    cpus = 16
    memory = '24 GB'
}

// Run each process in a Docker container, as the current user (not as root).
docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g) -v /tmp/.X11-unix:/tmp/.X11-unix -e DISPLAY=$DISPLAY'
}
