// Choose config parameters from the environment or defaults.
params {
    exported_path = System.getenv('EXPORTED_PATH') ?: "exported"
    results_path = System.getenv('RESULTS_PATH') ?: "results"
    container_tag = System.getenv('CONTAINER_TAG') ?: "v0.0.0"
}

// Run processes locally (not on AWS, SLURM, etc.)
process {
    executor = 'local'
    cpus = 16
    memory = '24 GB'
}

// Run each process in a Docker container, as the current user (not as root).
docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g) -v /tmp/.X11-unix:/tmp/.X11-unix -e DISPLAY=$DISPLAY'
}
